# === JAVA / SPRING BOOT ===
target/
*.log
*.class
*.jar
*.war
*.ear

# IntelliJ
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/

# === NODE / ANGULAR ===
node_modules/
dist/
.angular/
.tmp/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env

# === OS ===
.DS_Store
Thumbs.db

# === DOCKER ===
*.pid
*.seed

# === PYTHON ===
__pycache__/
*.pyc
*.pyo
*.pyd

# virtual environment
workers/*/venv/
venv/

# pytest / cache
.pytest_cache/
.mypy_cache/
.coverage

# logs / runtime
*.log