.progress-container {
  width: 400px;
  height: 30px;

  border: 1px solid #ccc;

  border-radius: 8px;

  overflow: hidden;

  margin-top: 10px;
}

.progress-bar {
  height: 100%;

  background-color: #4caf50;

  transition: width 0.5s ease;
}